.container {
  width: 95%;
  max-width: 1300px;
  margin: auto;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 93%;
  }
}
