.services__serving {
  padding: var(--section-padding);
  text-align: center;
}

.services__serving .paragraph {
  color: var(--mini-sub-color);
  font-family: var(--sub-font-family);
  width: 80%;
  margin: 3rem auto 2rem auto;
  line-height: 2;
}

.services__serving .btns a {
  margin: 0 1.5rem;
}

@media screen and (max-width: 600px) {
  .services__serving .paragraph {
    width: 100%;
    font-size: 13px;
    margin: 1rem auto 1.5rem auto;
  }
  .services__serving .btns a {
    margin: 0 0.5rem;
  }
}
